body {
  background-image: url('https://source.unsplash.com/category/nature/1600x900');
  background-size: cover no-repeat;
  background-color: #42317B;
  height: 100%;
}

#wrapper {
  
  margin-bottom: 0px; 
  height: 400px;
  width: 600px;
  margin: 100px auto 100px auto;
}

#quote-box {
  
  background-color: rgba(246,237,230, 0.8);
  height: 100%;
  width: 100%;
  padding: 50px;
  /*border-radius: 15px;*/
}

#quote {

  height: 200px;
  width: 100%;
}

#author{

  height: 30%;

}